body{
    width: 100vh;
    height: 100vw;

}
main {
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 900px;
}
main input {
    width: 80%;
    height: 10%;
    gap: 10px;
    border-radius: 20px;
}
.main-link{
    background-color: green;
    width: 100px;
    height: 50px;
    border-radius: 20px;
}