.cont{
    height: 100vh;
    width: 100px;
    pad: 10px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
}
a{
    width: 25%;
    width: 60%;
    margin: 10px;
}
img {
    width: 100px;
}
.card {
    width: 100px;
    height: 150px;
    border: 100px solid  rgb(255, 154, 3);
    border-radius: 10px;
    display: flex;
}
#asus{
    display: flex;
    flex-wrap: wrap;
}
.card img{
width: 100px;
}
.window {
    display: flex;
}